/* Header */
@use "../var";
@use "../colors";
@import "../mixins";
@keyframes fadeIn {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}
header {
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
	width: min(100%, 100rem);
	padding: 2rem 4rem;
	@include flex-container(row, space-between, center, nowrap);
	color: colors.$text;
	font-family: var.$font-button;
	font-weight: 700;
	background-color: transparent;
	animation: fadeIn 0.5s ease-in-out;
	transition: background-color 0.5s ease-in-out;
	&.scrolled {
		transition: background-color 0.5s ease-in-out;
		background-color: colors.$glass;
		backdrop-filter: blur(25px);
		-webkit-backdrop-blur: (25px);
	}
	a {
		color: inherit;
	}
	.links,
	.socials {
		@include flex-container(row, flex-start, center, nowrap);
		height: 100%;
		flex: 1;
		gap: 1rem;
		a {
			font-size: inherit;
			text-decoration: none;
			p {
				white-space: none;
			}
		}
		a:hover {
			p {
				text-decoration: underline;
			}
		}
	}
	.logo {
		width: 2.5rem;
		margin-inline-end: 2rem;
		@include flex-container(column, center, center, nowrap);
	}
	.socials {
		justify-content: flex-end;
		margin-left: auto;
		padding-block: 0.25rem;
	}
	.close {
		font-size: 3rem;
		display: none;
	}
	.menu {
		margin-left: auto;
		font-size: 2rem;
	}
	.behind-mobile-menu {
		display: none;
		height: 0;
	}
}
@media screen and (max-width: 399px) {
	header {
		justify-content: flex-start;
		padding: 0.5rem;
		.socials,
		.links,
		.behind-mobile-menu,
		.close {
			height: min-content;
			display: none;
		}

		.behind-mobile-menu.show {
			display: block;
			position: fixed;
			background-color: colors.$fg;
			z-index: 1;
			height: 100vh;
			width: 100vw;
			top: 0;
			left: 0;
			opacity: 1;
			margin-bottom: 0;
			animation: slideDown 0.5s ease-in-out;
		}
		.links,
		.socials {
			&.show {
				position: fixed;
				z-index: 2;
				display: flex;
				font-size: 2rem;
			}
		}
		.links.show {
			bottom: 30%;
			width: 100%;
			@include flex-container(column, flex-end, center, nowrap);
			a {
				width: 100%;
				text-align: center;
			}
			animation: slideDownContent 0.5s ease-in-out;
		}
		.socials.show {
			width: 100%;
			justify-content: space-evenly;
			flex-wrap: wrap;
			bottom: 15%;
			animation: slideDownContent 0.5s ease-in-out;
		}
		.close.show {
			position: fixed;
			color: colors.$border;
			@include flex-container(row, center, center, nowrap);
			bottom: 5%;
			z-index: 2;
			left: 0;
			right: 0;
			animation: slideDownContent 0.5s ease-in-out;
		}
	}
}
@keyframes slideDown {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}
@keyframes slideDownContent {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	20% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

@media screen and (min-width: 400px) and (max-width: 799px) {
	header {
		padding: 0.5rem 1rem;

		font-size: 1.25rem;
		.logo {
			margin-inline-end: 1rem;
		}
		.menu {
			display: none;
		}
		.socials {
			// display: none;
		}
	}
}
@media screen and (min-width: 800px) {
	header {
		font-size: 1.5rem;
		padding: 1rem 2rem;
	}
	.menu {
		display: none;
	}
}
