/* Header */
@use "../var";
@use "../colors";
@import "../mixins";
header {
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
	width: min(100%, 100rem);
	padding: 2rem 4rem;
	@include flex-container(row, space-between, center, nowrap);
	color: colors.$text;
	font-family: var.$font-button;
	font-weight: 700;
	a {
		color: inherit;
	}
	.links,
	.socials {
		@include flex-container(row, flex-start, center, nowrap);
		height: 100%;
		flex: 1;
		gap: 1rem;
		a {
			font-size: inherit;
			text-decoration: none;
			p {
				white-space: none;
			}
		}
		a:hover {
			p {
				text-decoration: underline;
			}
		}
	}
	.logo {
		width: 2.5rem;
		margin-inline-end: 2rem;
		@include flex-container(column, center, center, nowrap);
	}
	.socials {
		justify-content: flex-end;
		margin-left: auto;
		padding-block: 0.25rem;
	}
	.menu {
		margin-left: auto;
		font-size: 2rem;
	}
}
@media screen and (max-width: 399px) {
	header {
		padding: 0.25rem 0.5rem;
		.socials,
		.links {
			display: none;
		}
	}
}

@media screen and (min-width: 400px) and (max-width: 799px) {
	header {
		padding: 0.5rem 1rem;

		font-size: 1.25rem;
		.logo {
			margin-inline-end: 1rem;
		}
		.socials {
			display: none;
		}
	}
}
@media screen and (min-width: 800px) {
	header {
		font-size: 1.5rem;
		padding: 1rem 2rem;
		.menu {
			display: none;
		}
	}
}
