@use "../var";
.ring {
	position: absolute;
	border-radius: 50%;
}
.ring1 {
	left: -115px;
	top: -301px;
	z-index: 1;
}
.ring2 {
	left: -120px;
	top: 729px;
}
.ring3 {
	top: 50%;
	left: 80%;
}
button {
	background: none;
	color: inherit;
	border: none;
	font: var.$font-button;
	cursor: pointer;
	outline: inherit;
	text-align: inherit;
	padding: 0;
	.hidden {
		display: none;
	}
}
