---
---

<section id="hero">
	<h1>My Projects</h1>
	<div class="buttons">
		<a>
			<h3>Web Apps</h3>
		</a>
		<a>
			<h3>Mobile Apps</h3>
		</a>
		<a>
			<h3>Landing Pages</h3>
		</a>
	</div>
</section>
