---
---

<section id="hero">
	<h1>My Projects</h1>
	<div class="buttons">
		<button>
			<h3>Web Apps</h3>
		</button>
		<button>
			<h3>Mobile Apps</h3>
		</button>
		<button>
			<h3>Landing Pages</h3>
		</button>
	</div>
</section>
