---
import GridSection from "./landingModule";
import {
	plmProps,
	cabalProps,
	smileNowProps,
	aboutMeProps,
	quaeProps,
	TraderInteractiveProps,
} from "./landingModuleData";
---

<section id="grid">
	<div id="bio-module">
		<GridSection {...aboutMeProps} client:load />
	</div>
	<div id="trader-interactive-module">
		<GridSection {...TraderInteractiveProps} client:load />
	</div>
	<div id="plm-module">
		<GridSection {...plmProps} client:load />
	</div>
	<div id="cabal-module">
		<GridSection {...cabalProps} client:load />
	</div>
	<div id="smilenow-module">
		<GridSection {...smileNowProps} client:load />
	</div>
	<div id="quae-module">
		<GridSection {...quaeProps} client:load />
	</div>

	<!-- <div id="projects-module">
		<GridSection {...projectsProps} client:load>
			<ProjectsPreview client:load />
		</GridSection>
	</div> -->
</section>
