---
import {EMAIL} from "../../config"
---

<section id="quick-links">
	<div class="content-container">
		<!-- <a class="quick-link" href="/about_me">
			<h4>About Me</h4>
		</a> -->
		<a class="quick-link" href="/projects">
			<h4>Projects</h4>
		</a>
		<a class="quick-link" href={`mailto:${EMAIL}`}>
			<h4>Send Me A Message</h4>
		</a>
	</div>
</section>
