@use "../colors";
@use "../var";

#contact-me {
	padding: 5rem 1rem 5rem 1rem;
	display: grid;
	gap: 1rem;
	justify-content: stretch;
	align-items: stretch;
	margin: auto auto;
}
@media screen and (max-width: 799px) {
	#contact-me {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		grid-template-areas: "info" "form";
	}
}
@media screen and (min-width: 800px) {
	#contact-me {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "info form";
		margin: 0 auto;
		max-width: 120rem;
	}
}

#my-form {
	grid-area: form;
	background: linear-gradient(
		359.59deg,
		#15137a 57.35%,
		rgba(21, 19, 122, 0) 95.41%
	);
	padding: 0 1.5rem 2rem 1.5rem;
	.form-group {
		@include flex-container(column, flex-start, flex-start, nowrap);
		* {
			width: 100%;
		}
	}
	input,
	textarea {
		&.hidden {
			height: 0;
			opacity: 0;
			display: none;
		}
		padding: 0.5rem 0 0 0;
		margin: 0 0 2rem 0;
		background-color: transparent;
		border: none;
		border-bottom: 2px colors.$border solid;
		color: colors.$text;
		font-family: var.$font-body;
		&:focus {
			outline: none;
		}

		&::placeholder {
			color: colors.$border;
		}
	}
	.check-box {
		input {
			background-color: pink;
		}
		#wants-to-meet {
			background-color: transparent;
			border: 2px colors.$border;
			border-radius: 5px;
		}
	}

	label {
		color: colors.$text-secondary;
		font-family: var.$font-body;
	}
	#form-button {
		width: 100%;
		background-color: transparent;
		font-family: var.$font-button;
		font-size: 1.5rem;
		line-height: 4rem;
		border: 2px colors.$border solid;
		border-radius: 0.5rem;
		text-align: center;
		background-color: transparent;
		&:hover {
			background-color: colors.$text;
			color: colors.$bg;
			border: 2px colors.$text solid;
			transition: all 150ms ease-in-out;
		}
	}
}

#contact-info {
	grid-area: info;
	padding: 0 1.5rem;
	.label {
		font-size: 1.25rem;
	}
	.list {
		padding-left: 0;
		li {
			padding: 0.5rem;
			margin: 0.25rem 0;
			list-style: none;
			border-radius: 0.5rem;
			position: relative;
			cursor: pointer !important;
			@include flex-container(row, flex-start, center, wrap);

			&:hover {
				background-color: colors.$fg;
				.icons {
					display: block;
					opacity: 1;
				}
			}
			.icon {
				width: 2rem;
				padding: 0.5rem 0 0 0.5rem;
			}
			.info {
				@include flex-container(column, flex-start, flex-start, nowrap);
			}
			p {
				margin: 0.5rem;
			}
			.icons {
				position: absolute;
				margin-left: auto;
				padding-left: 2rem;
				right: 0;
				background: linear-gradient(to right, transparent, colors.$fg 20%);
				border-radius: 0.25rem;
				opacity: 0;
				.icon {
					font-size: 1.75rem;
					line-height: 2rem;
					margin: 0 0.5rem;
					color: colors.$border !important;
					&:hover {
						color: colors.$text !important;
					}
				}
				&:hover {
					opacity: 1;
					transition: all 0.25s ease-in;
				}
			}
		}
	}
}
@media screen and (max-width: 599px) {
	#contact-info {
		padding: 0.5rem;
		.list {
			li {
				background-color: colors.$fg;

				.icons {
					display: block;
					opacity: 1;
				}
			}
		}
	}
}
@media screen and (min-width: 600px) {
	#contact-info {
		.list {
			li {
				font-size: 1.25rem;
			}
		}
	}
}
