#hero {
	z-index: 1;
	overflow: hidden;
	background-image: url("/public/img/shapes/shapes.svg");
	background-position: top-left;
	background-repeat: repeat;
	background-size: cover;
	// #hero-shapes {
	// 	position: absolute;
	// 	z-index: -1;
	// 	bottom: 0;
	// 	height: 100%;
	// 	width: 100vw;
	// }
	.hero-content {
		position: relative;
		background: rgba(153, 224, 247, 0.1);
		backdrop-filter: blur(100px);
		-webkit-backdrop-blur: (100px);
		.text {
			padding: 1rem;
			overflow: hidden;
		}
		.title {
			font-size: 2.5rem;
			font-family: var.$font-title;
		}
		.sub-titles {
			font-size: 2rem;
			line {
				font-size: inherit;
			}
			:nth-child(0) {
				font-size: 100%;
				opacity: 100%;
			}
			:nth-child(1) {
				font-size: 95%;
				opacity: 95%;
			}
			:nth-child(2) {
				font-size: 90%;
				opacity: 90%;
			}
			:nth-child(3) {
				font-size: 85%;
				opacity: 85%;
			}
			:nth-child(4) {
				font-size: 80%;
				opacity: 80%;
			}
			:nth-child(5) {
				font-size: 75%;
				opacity: 75%;
			}
			:nth-child(6) {
				font-size: 70%;
				opacity: 70%;
			}
			:nth-child(7) {
				font-size: 65%;
				opacity: 65%;
			}
			:nth-child(8) {
				font-size: 60%;
				opacity: 60%;
			}
			:nth-child(9) {
				font-size: 55%;
				opacity: 55%;
			}
			:nth-child(10) {
				font-size: 50%;
				opacity: 50%;
			}
		}
	}
	.hero-images {
		background: rgba(153, 224, 247, 0.1);
		backdrop-filter: blur(25px);
		-webkit-backdrop-filter: blur(25px);
		@include flex-container(column, center, center, nowrap);
		padding: 2rem;
		img {
			border-radius: 1rem;
		}
		.container {
			background: rgba(0, 0, 0, 0.3);
			border-radius: 1rem;
			padding: 1rem 2rem;
			width: 100%;
			@include flex-container(row, space-between, center, nowrap);
			font-size: 1.5rem;
			h4 {
				margin: 0;
			}
			.icon {
				font-size: inherit;
			}
		}
	}
}
@media screen and (max-width: 500px) {
	#hero {
		.hero-images {
			.container {
				font-size: 1rem;
			}
		}
	}
}
@media screen and (max-width: 799px) {
	#hero {
		@include flex-container(column, center, center, nowrap);

		.hero-content,
		.hero-images {
			width: 100%;
		}
		.hero-content {
			.text {
				margin-top: 20%;
			}
		}
	}
}
@media screen and (min-width: 800px) {
	#hero {
		height: 70vh;
		@include flex-container(row, center, center, nowrap);
		.hero-content,
		.hero-images {
			flex: 1;
			height: 100%;
		}
		.hero-content {
			padding-top: min(30%, 10rem);
			@include flex-container(column, flex-end, flex-end, nowrap);
			.text {
				padding-right: 4rem;
				.title {
					font-size: min(calc(1.6vw + 1.5rem), 3.5rem);
				}
				.sub-titles {
					font-size: min(calc(1.5vw + 1rem), 3rem);
				}
			}
		}
		.hero-images {
			@include flex-container(column, flex-end, flex-start, nowrap);
			padding: 3rem;
			.img-container {
				max-width: 40rem;
			}
		}
	}
}

#grid {
	max-width: 100ch;
	padding: 0 1rem;
	margin: 2rem auto;
	gap: 0.75rem;
	background-color: colors.$bg;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(1fr, 10);
	grid-template-areas:
		"quae bio"
		"quae bio"
		"cabal bio"
		"cabal skills"
		"projects projects";
	#quae-module {
		// background-color: purple;
		grid-area: quae;
	}
	#cabal-module {
		// background-color: orange;
		grid-area: cabal;
	}
	#bio-module {
		// background-color: red;
		grid-area: bio;
	}
	#skills-module {
		// background-color: pink;
		grid-area: skills;
	}
	#projects-module {
		// background-color: green;
		grid-area: projects;
	}
	.row {
		@include flex-container(row, flex-start, center, nowrap);
		gap: 0.75rem;
		height: 100%;
		.grid-section {
			flex: 1;
			height: 100%;
		}
	}
	.grid-section {
		background-color: colors.$fg;
		border-radius: 1rem;
		width: 100%;
		height: 100%;
		.header {
			padding: 1rem;
			h2 {
				margin: 0;
				font-family: var.$font-title;
			}
		}
	}
}
