@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
}
$animation-height: 30vh;
#landing {
	#hero {
		width: 100vw;
		overflow: hidden;
		z-index: -1;
		background-image: url("/img/shapes/shapes.svg");
		background-position: top-left;
		background-repeat: repeat;
		background-size: cover;
		// > .blur {
		// 	z-index: 1;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-color: rgba(20, 37, 42, 0.198) !important;
		// 	backdrop-filter: blur(50px) !important;
		// 	-webkit-backdrop-filter: (50px) !important;
		// }
		#hero-content {
			z-index: 2;
			position: relative;
			background-color: rgba(20, 37, 42, 0.198) !important;
			backdrop-filter: blur(50px) !important;
			-webkit-backdrop-filter: (50px) !important;

			.text {
				z-index: 4;
				padding: 1rem;
				padding-bottom: 0;
			}
			.title {
				font-size: 2.5rem;
				padding-right: 1.5rem;
				position: relative;
				margin-bottom: 1rem;
				font-family: var.$font-title;
				z-index: 6;
			}
			.title-container {
				z-index: 5;
			}
			.title-container::after {
				content: "";
				z-index: 3;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				transform: translateY(3rem) rotate(-10deg);
				width: 150%;
				height: 6rem;
				border-radius: 168rem;
				background-color: colors.$bg;
				filter: blur(30px);
				box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.5);
			}

			#line-container {
				position: relative;
				z-index: 2 !important;
				height: $animation-height;
				overflow: hidden;
				font-size: 2rem;
			}

			.line {
				position: absolute;
				bottom: 0;
				left: 0;

				text-align: left;
				transform-origin: 0% 50%;
				animation: growAndRise 20s infinite linear;
			}

			@keyframes growAndRise {
				0% {
					transform: translateY($animation-height) scale(0.25);
					opacity: 0.1;
				}

				50% {
					transform: translateY(calc($animation-height * -1)) scale(1);
					opacity: 1;
				}
				51% {
					transform: translateY(calc($animation-height * -1)) scale(1);
					opacity: 0;
				}
				52% {
					transform: translateY($animation-height) scale(0.25);
					opacity: 0;
				}
				100% {
					transform: translateY($animation-height) scale(0.25);
					opacity: 0.1;
				}
			}
			// #line-container {
			// 	animation: scroll 20s linear infinite;
			// 	font-size: 2rem;

			// 	p {
			// 		line-height: inherit;
			// 		margin-block: 0.5rem;
			// 		font-size: inherit;
			// 		font-size: 50%;
			// 		opacity: 50%;
			// 		transition: font-size 1s ease-in-out, opacity 1s ease-in-out;
			// 	}
			// }
		}
		#hero-images {
			z-index: 2;
			background-color: rgba(153, 224, 247, 0.1);
			backdrop-filter: blur(45px);
			-webkit-backdrop-filter: blur(45px);
			@include flex-container(column, flex-end, center, nowrap);
			padding: 2rem 0;
			height: 100%;
			border-radius: 0 0 0 1rem;
			.content-container {
				@include flex-container(column, flex-end, flex-start, nowrap);
				gap: 1rem;
			}
			img {
				border-radius: 1rem;
			}
			.container {
				background: rgba(0, 0, 0, 0.3);
				color: colors.$text;
				text-decoration: none;
				border-radius: 1rem;
				padding: 1rem 2rem;
				width: 100%;
				height: min-content;
				@include flex-container(row, space-between, center, nowrap);
				font-size: 1.5rem;
				h4 {
					margin: 0;
					padding-right: 1rem;
				}
				.icon {
					font-size: inherit;
				}
			}
		}
	}
}

@media screen and (min-width: 0px) and (max-width: 799px) {
	$animation-height: 40vh;
	#landing {
		#hero {
			@include flex-container(column, center, center, nowrap);
			width: 100%;
			#hero-content,
			#hero-images {
				width: 100vw;
				min-height: 20rem;
			}
			#hero-content {
				height: 70vh !important;
				width: 100vw !important;
				flex: 0.75;
				background: linear-gradient(
					to bottom right,
					colors.$accent-default,
					colors.$accent-light
				);
				webkit-box-shadow: inset 0px -20px 50px 4px colors.$primary-default;
				-moz-box-shadow: inset 0px -20px 50px 4px colors.$primary-default;
				box-shadow: inset 0px -20px 50px 4px colors.$primary-default;

				.text {
					flex: 1;
					margin-top: 15%;
				}
				.title-container::after {
					height: 8rem;
					transform: translateY(6rem) rotate(-10deg) scale(1.5);
				}
				.ring {
					z-index: 5;
				}
			}
			#hero-images {
				padding: 1rem;
				.content-container {
					gap: 1rem;
					img {
						max-height: 50%;
					}
					.container {
						h4 {
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 800px) {
	#landing {
		#hero {
			height: 70vh;
			@include flex-container(row, center, center, nowrap);
			#hero-content,
			#hero-images {
				height: 100%;
			}

			#hero-content {
				flex: 0.7;
				padding-top: min(30%, 10rem);
				@include flex-container(column, flex-end, flex-end, nowrap);
				.text {
					padding-right: 2rem;
					transform: translateX(-10vw);

					.title {
						font-size: min(calc(1.6vw + 1.5rem), 3.5rem);
					}
					.sub-titles {
						font-size: min(calc(1.5vw + 1rem), 3rem);
					}
				}
			}
			#hero-images {
				flex: 0.3;
				padding: 3rem;
				@include flex-container(column, flex-end, flex-start, nowrap);
				.content-container {
					max-width: 60rem;
					transform: translateX(-10vw);
				}
			}
		}
	}
}

$grid-blur: 50px;

#grid {
	z-index: 3;
	max-width: 100ch;
	padding: 0 1rem;
	margin: 2rem auto;
	gap: 0.75rem;
	background-color: colors.$bg;
	display: grid;

	& > div,
	.skills,
	.resume {
		z-index: 3;
		color: colors.$text;
		text-decoration: none;
		border-radius: 1rem;
		overflow: hidden;
		background-position: center;
		background-size: cover;
		background-repeat: repeat;
		filter: drop-shadow(0px 0px 50px rgba(47, 210, 246, 0.1));
	}
	#smilenow-module {
		grid-area: smilenow;
		background-image: url("/img/shapes/cabal_labs_bg.svg");
	}
	#quae-module {
		// background-color: purple;
		grid-area: quae;
		background-image: url("/img/shapes/quae_module_bg.svg");
	}
	#cabal-module {
		// background-color: orange;
		grid-area: cabal;
		background-image: url("/img/shapes/cabal_labs_bg.svg");
		.grid-section {
			background-color: rgba(62, 62, 62, 0.25);
		}
	}
	#bio-module {
		// background-color: red;
		grid-area: bio;
		background-image: url("/img/shapes/bio_module_bg.svg");
		.sub-module {
			margin-top: 1rem;
			a {
				color: colors.$text-secondary;
			}
		}
	}
	// #skills-module {
	// 	// background-color: pink;
	// 	grid-area: skills;
	// 	// background-image: url("/img/shapes/skills_module_bg.svg");
	// }
	// #resume-module {
	// 	// grid-area: resume;
	// 	// background-image: url("/img/shapes/resume_module_bg.svg");
	// }
	#projects-module {
		// background-color: green;
		grid-area: projects;
		background-image: url("/img/shapes/projct_module_bg.svg");
		a {
			text-decoration: none;
		}
	}
	.row {
		@include flex-container(row, flex-start, center, nowrap);
		gap: 0.75rem;
		height: 100%;
		.grid-section {
			flex: 1;
			height: 100%;
		}
	}
	.grid-section {
		// cursor: pointer !important;
		background-color: rgb(153, 224, 247, 0.1);
		-webkit-backdrop-filter: blur($grid-blur);
		backdrop-filter: blur($grid-blur);
		width: 100%;
		height: 100%;
		padding: 1rem;
		position: relative;
		.header {
			div {
				@include flex-container(row, space-between, center, wrap);
				> a {
					text-decoration: underline;
					color: colors.$text-secondary;
				}
			}
			h2 {
				margin: 0;
				font-family: var.$font-title;
			}
			.headline,
			.sub-headline {
				margin: 0.25rem 0;
			}
		}
		.footer {
			a {
				text-decoration: none;
				color: colors.$text;
			}
		}
	}
}
@media screen and (max-width: 799px) {
	#grid {
		grid-template-columns: repeat(1fr, 2);
		grid-template-rows: repeat(auto, 10);
		grid-template-areas:
			"bio bio"
			"smilenow smilenow"
			"cabal cabal"
			"quae quae"
			"projects projects";
	}
}
@media screen and (min-width: 800px) {
	#grid {
		grid-template-columns: repeat(1fr, 2);
		grid-template-rows: repeat(auto, 6);
		grid-template-areas:
			"smilenow  bio"
			"cabal bio"
			"cabal quae"
			"cabal quae"
			"projects projects";
	}
}
