#landing {
	#hero {
		z-index: -1;
		overflow: hidden;
		background-image: url("/img/shapes/shapes.svg");
		background-position: top-left;
		background-repeat: repeat;
		background-size: cover;
		// > .blur {
		// 	z-index: 1;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-color: rgba(20, 37, 42, 0.198) !important;
		// 	backdrop-filter: blur(50px) !important;
		// 	-webkit-backdrop-filter: (50px) !important;
		// }
		#hero-content {
			z-index: 2;
			position: relative;
			background-color: rgba(20, 37, 42, 0.198) !important;
			backdrop-filter: blur(50px) !important;
			-webkit-backdrop-filter: (50px) !important;

			.text {
				z-index: 4;
				padding: 1rem;
				overflow: hidden;
			}
			.title {
				font-size: 2.5rem;
				padding-right: 1.5rem;
				margin-bottom: 1rem;
				font-family: var.$font-title;
			}
			#line-container {
				z-index: 4 !important;
				font-size: 2rem;
				min-height: 50%;
				overflow: hidden;
				transition: all 1s ease-in-out;
				p {
					line-height: inherit;
					margin-block: 0.5rem;
					font-size: inherit;
					font-size: 50%;
					opacity: 50%;
				}
				:nth-child(0) {
					font-size: 100%;
					opacity: 100%;
				}
				:nth-child(1) {
					font-size: 95%;
					opacity: 95%;
				}
				:nth-child(2) {
					font-size: 90%;
					opacity: 90%;
				}
				:nth-child(3) {
					font-size: 85%;
					opacity: 85%;
				}
				:nth-child(4) {
					font-size: 80%;
					opacity: 80%;
				}
				:nth-child(5) {
					font-size: 75%;
					opacity: 75%;
				}
				:nth-child(6) {
					font-size: 70%;
					opacity: 70%;
				}
				:nth-child(7) {
					font-size: 65%;
					opacity: 65%;
				}
				:nth-child(8) {
					font-size: 60%;
					opacity: 60%;
				}
				:nth-child(9) {
					font-size: 55%;
					opacity: 55%;
				}
				:nth-child(10) {
					font-size: 50%;
					opacity: 50%;
				}
			}
		}
		#hero-images {
			z-index: 2;
			background-color: rgba(153, 224, 247, 0.1);
			backdrop-filter: blur(25px);
			-webkit-backdrop-filter: blur(25px);
			@include flex-container(column, flex-end, center, nowrap);
			padding: 2rem 0;
			height: 100%;
			border-radius: 0 0 0 1rem;
			.img-container {
				@include flex-container(column, flex-end, center, nowrap);
				gap: 1rem;
			}
			img {
				border-radius: 1rem;
				max-height: 50%;
			}
			.container {
				background: rgba(0, 0, 0, 0.3);
				color: colors.$text;
				text-decoration: none;
				border-radius: 1rem;
				padding: 1rem 2rem;
				width: 100%;
				height: min-content;
				@include flex-container(row, space-between, center, nowrap);
				font-size: 1.5rem;
				h4 {
					margin: 0;
					padding-right: 1rem;
				}
				.icon {
					font-size: inherit;
				}
			}
		}
	}
}

@media screen and (min-width: 0px) and (max-width: 799px) {
	#landing {
		#hero {
			@include flex-container(column, center, center, nowrap);
			width: 100%;
			#hero-content,
			#hero-images {
				width: 100vw;
				min-height: 20rem;
			}
			#hero-content {
				height: 50vh !important;
				width: 100vw !important;
				flex: 0.75;
				background-color: rgba(20, 37, 42, 0.198) !important;
				backdrop-filter: blur(50px) !important;
				-webkit-backdrop-filter: (50px) !important;

				.text {
					margin-top: 15%;
				}
			}
			#hero-images {
				flex: 1;

				padding: 1rem;
				.img-container {
					.container {
						h4 {
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 800px) {
	#landing {
		#hero {
			height: 70vh;
			@include flex-container(row, center, center, nowrap);
			#hero-content,
			#hero-images {
				flex: 1;
				height: 100%;
			}
			#hero-content {
				padding-top: min(30%, 10rem);
				@include flex-container(column, flex-end, flex-end, nowrap);
				.text {
					padding-right: 2rem;
					.title {
						font-size: min(calc(1.6vw + 1.5rem), 3.5rem);
					}
					.sub-titles {
						font-size: min(calc(1.5vw + 1rem), 3rem);
					}
				}
			}
			#hero-images {
				padding: 3rem;
				@include flex-container(column, flex-end, flex-start, nowrap);
				.img-container {
					max-width: 50rem;
				}
			}
		}
	}
}

$grid-blur: 50px;

#grid {
	z-index: 3;
	max-width: 100ch;
	padding: 0 1rem;
	margin: 2rem auto;
	gap: 0.75rem;
	background-color: colors.$bg;
	display: grid;

	& > div,
	.skills,
	.resume {
		z-index: 3;
		color: colors.$text;
		text-decoration: none;
		border-radius: 1rem;
		overflow: hidden;
		background-position: center;
		background-size: cover;
		background-repeat: repeat;
		filter: drop-shadow(0px 0px 50px rgba(47, 210, 246, 0.1));
	}
	#quae-module {
		// background-color: purple;
		grid-area: quae;
		background-image: url("/img/shapes/quae_module_bg.svg");
	}
	#cabal-module {
		// background-color: orange;
		grid-area: cabal;
		background-image: url("/img/shapes/cabal_labs_bg.svg");
		.grid-section {
			background-color: rgba(62, 62, 62, 0.25);
		}
	}
	#bio-module {
		// background-color: red;
		grid-area: bio;
		background-image: url("/img/shapes/bio_module_bg.svg");
		.sub-module {
			margin-top: 1rem;
			a {
				color: colors.$text-secondary;
			}
		}
	}
	// #skills-module {
	// 	// background-color: pink;
	// 	grid-area: skills;
	// 	// background-image: url("/img/shapes/skills_module_bg.svg");
	// }
	// #resume-module {
	// 	// grid-area: resume;
	// 	// background-image: url("/img/shapes/resume_module_bg.svg");
	// }
	#projects-module {
		// background-color: green;
		grid-area: projects;
		background-image: url("/img/shapes/projct_module_bg.svg");
		a {
			text-decoration: none;
		}
	}
	.row {
		@include flex-container(row, flex-start, center, nowrap);
		gap: 0.75rem;
		height: 100%;
		.grid-section {
			flex: 1;
			height: 100%;
		}
	}
	.grid-section {
		// cursor: pointer !important;
		background-color: rgb(153, 224, 247, 0.1);
		-webkit-backdrop-filter: blur($grid-blur);
		backdrop-filter: blur($grid-blur);
		width: 100%;
		height: 100%;
		padding: 1rem;

		.header {
			div {
				@include flex-container(row, space-between, center, wrap);
				> a {
					text-decoration: underline;
					color: colors.$text-secondary;
				}
			}
			h2 {
				margin: 0;
				font-family: var.$font-title;
			}
			.headline,
			.sub-headline {
				margin: 0.25rem 0;
			}
		}
		.footer {
			a {
				text-decoration: none;
				color: colors.$text;
			}
		}
	}
}
@media screen and (max-width: 799px) {
	#grid {
		grid-template-columns: repeat(1fr, 2);
		grid-template-rows: repeat(auto, 10);
		grid-template-areas:
			"bio bio"
			"quae quae"
			"cabal cabal"
			"projects projects";
	}
}
@media screen and (min-width: 800px) {
	#grid {
		grid-template-columns: repeat(1fr, 2);
		grid-template-rows: repeat(auto, 4);
		grid-template-areas:
			"quae  bio"
			"cabal bio"
			"projects projects";
	}
}
