@use "../var";
@use "../colors";

#projects {
	#hero {
		// height: 70vh;
		width: 100%;
		@include flex-container(column, center, center, nowrap);
		background: linear-gradient(
			to bottom,
			colors.$accent-light,
			colors.$primary-default
		);
		h1 {
			font-size: 3rem;
		}
		.buttons {
			width: min(100%, 45rem);
			padding: 2rem;
			padding-bottom: 1rem;
			@include flex-container(row, space-around, center, wrap);
			gap: 1rem;
			button {
				flex: 1;
				min-width: 20ch;
				padding: 1rem;
				text-align: center;
				border: 1px solid colors.$border;
				border-radius: 1rem;
				&:hover,
				&.selected {
					background-color: colors.$fg;
				}
			}
		}
		.filter-btn {
			border: 1px solid colors.$border;
			border-radius: 0.5rem;
			padding: 0.5rem 1rem;
			margin-bottom: 1.5rem;
			opacity: 0;
			&:hover {
				background-color: colors.$bg;
			}
			&.hidden {
				opacity: 0;
			}
			&.visible {
				opacity: 1;
				transition: opacity 0.25s ease-in;
			}
		}
	}
}
.skill-container {
	@include flex-container(row, center, center, wrap);
	max-width: 65rem;
	margin: 0 auto;
	.tag {
		padding: 0.5rem;
		border-radius: 0.5rem;
		margin: 0.3rem;
		min-width: 10ch;
		text-align: center;
		background-color: colors.$accent-light;
		color: colors.$bg;
	}
}
#projects {
	.projects-container {
		width: 100vw;
		padding: 1rem;
	}
}
.project-card {
	width: clamp(8rem, 100%, 60rem);
	@include flex-container(row, center, flex-start, wrap);
	background-color: rgba(53, 137, 197, 0.3);
	border-radius: 1.75rem;
	.header {
		display: grid;
		width: 100%;

		.content {
			grid-area: content;
			h3,
			h4 {
				margin: 0;
			}
			.sub-title {
				font-style: italic;
				font-weight: 400;
			}
		}
		.icons {
			grid-area: icons;
			a {
				color: colors.$text;
			}
		}
		img {
			flex: 0.75;
			border-radius: 1rem;
			grid-area: logo;
		}
		.content {
			flex: 1;
			.title {
				font-size: 2rem;
			}
		}
	}

	.blocks {
		padding-inline: 1rem;
	}
}

@media screen and (max-width: 799px) {
	#projects {
		.project-card {
			.header {
				grid-template-columns: 1fr;
				grid-template-rows: auto auto;
				justify-items: stretch;
				align-items: flex-start;
				grid-template-areas: "logo icons" "content content";
				padding-top: 2rem;
				padding: 1rem;
				img {
					width: 5rem;
				}
				.icons {
					@include flex-container(row, center, center, nowrap);
					font-size: 2rem;
					gap: 2rem;
				}
				.content {
					margin-top: 1rem;
					width: 100%;
					justify-self: stretch;
				}
			}
		}
	}
}
@media screen and (min-width: 800px) {
	#projects {
		.project-card {
			.header {
				padding: 1rem;
				grid-template-columns: auto 1fr auto;
				grid-template-rows: 1fr;
				align-items: flex-start;
				justify-items: stretch;
				grid-template-areas: "logo content icons";
				img {
					max-width: 6rem;
				}
				.content {
					flex: 1;
					justify-self: stretch;
					padding-inline: 1rem;
				}
				.icons {
					gap: 0.5rem;
					font-size: 1.5rem;
					@include flex-container(row, flex-end, center, nowrap);
				}
			}
			.blocks {
				padding-bottom: 1rem;
				@include flex-container(row, flex-start, flex-start, wrap);
				gap: 1rem;
				p,
				img {
					flex: 0.5;
					width: 50%;
				}
				img {
					border-radius: 0.5rem;
				}
			}
		}
	}
}
.tag-container {
	width: 100%;
	flex: 1;
	margin-inline: 1rem;
	@include flex-container(row, flex-start, center, wrap);
	.tag {
		background-color: colors.$bg;
		border-radius: 0.25rem;
		margin-inline-end: 0.25rem;
		width: max-content;
		text-align: center;
		padding: 0.25rem;
	}
}
// HOME PAGE
$card-opacity: 0%;
$card-width: 70%;
$animation-time: 1s;
#projects-module {
	overflow: hidden;
	position: relative;
	height: 100%;
	#projects-controls {
		z-index: 1;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		@include flex-container(row, center, flex-end, nowrap);
		.prev,
		.next {
			flex: 1;
			font-size: 1.5rem;
			border-radius: 0.25rem;
			@include flex-container(column, center, center, nowrap);
			padding: 0.5rem;
			background-color: transparent;
		}
		.prev {
			@include flex-container(row, flex-start, center, nowrap);
			&:hover {
				transition: background-color 0.25s ease-in-out;
				background: linear-gradient(to right, colors.$glass, transparent);
			}
		}
		.next {
			@include flex-container(row, flex-end, center, nowrap);
			&:hover {
				transition: background-color 0.25s ease-in-out;
				background: linear-gradient(to left, colors.$glass, transparent);
			}
		}
	}
	.project-slide-deck {
		z-index: 2;
		height: 25rem;
		@include flex-container(row, flex-start, flex-start, nowrap);
		// animation: horizontalScroll 30s linear infinite;
		&:hover {
			animation-play-state: paused;
		}

		&:active {
			animation-play-state: paused;
		}
	}
	.project-slide {
		@include flex-container(column, center, center, nowrap);
		flex: 1;
		margin: auto auto;
	}
	.project-card {
		position: relative;
		background-color: transparent;
		height: 25rem;
		width: 5rem;
		border-radius: 0;
		box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.25);
		.title {
			position: absolute;
			transform: rotate(-90deg);
			bottom: 10%;
			text-align: left;
			width: max-content;
		}
		img,
		.tag-container,
		.date {
			position: absolute;
			opacity: 0;
			transition: opacity $animation-time ease-in-out;
		}
	}
	.project-card.focused {
		min-width: 80vw;
		min-height: 20rem;
		height: 100%;
		flex: 1;
		margin: auto auto;
		text-decoration: none;
		color: colors.$text;
		border-radius: 0.5rem;
		@include flex-container(column, center, center, nowrap);
		gap: 0.5rem;
		background-color: rgba(16, 60, 91, 1);
		padding: 1rem;
		.date,
		img,
		.img,
		.tag-container {
			transition: opacity $animation-time ease-in-out;
		}
		img,
		.img {
			height: 8rem;
			border-radius: 1.5rem;
			opacity: 1;
		}
		.img {
			opacity: 0.6;
		}
		h3,
		p {
			padding: 0;
		}

		.tag-container {
			gap: 0.5rem;
			justify-content: center;
		}
	}
}

@media screen and (max-width: 799px) {
	#projects-module {
		#projects-controls {
			height: 2rem;
			bottom: 0;
			margin-top: auto;

			.prev {
				align-items: flex-start;
				transition: background-color 0.25s ease-in-out;
				background: linear-gradient(to right, colors.$glass, transparent);
			}
			.next {
				align-items: flex-end;
				transition: background-color 0.25s ease-in-out;
				background: linear-gradient(to left, colors.$glass, transparent);
			}
		}

		.project-card {
			@include flex-container(column, flex-end, center, nowrap);
			img,
			.img {
				height: 3rem;
				width: 3rem;
				margin: auto 1rem auto 0.5rem;
				border-radius: 0.5rem;
			}
		}
	}
}

@media screen and (min-width: 800px) {
	#project-controls {
		button.prev {
			@include flex-container(row, flex-start, center, nowrap);
			transition: background-color 0.25s ease-in-out;
			align-items: flex-start;
			background: transparent;
			&:hover {
				transition: background-color 0.25s ease-in-out;
				background: linear-gradient(to right, colors.$glass, transparent);
			}
		}
		button.next {
			@include flex-container(row, flex-end, center, nowrap);

			transition: background-color 0.25s ease-in-out;
			align-items: flex-end;
			background: transparent;
			&:hover {
				transition: background-color 0.25s ease-in-out;
				background: linear-gradient(to left, colors.$glass, transparent);
			}
		}
	}
	#projects-module {
	}
}
$animation-width: 50vw;
@keyframes horizontalScroll {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes handlePrev {
	from {
		margin: 0 auto;
		opacity: 1;
		transform: translateX(0);
	}
	to {
		margin-left: 0;
		opacity: $card-opacity;
		transform: translateX(-150%);
	}
}
@keyframes handleNext {
	from {
		transform: translateX(150%);
	}
	to {
		margin-left: auto;
		transform: translateX(0%);
	}
}
