@use "../var";
@use "../colors";

#projects {
	#hero {
		// height: 70vh;
		width: 100%;
		@include flex-container(column, center, center, nowrap);
		background: linear-gradient(
			to bottom,
			colors.$accent-light,
			colors.$primary-default
		);
		h1 {
			font-size: 3rem;
		}
		.buttons {
			width: min(100%, 45rem);
			padding: 2rem;
			padding-bottom: 1rem;
			@include flex-container(row, space-around, center, wrap);
			gap: 1rem;
			button {
				flex: 1;
				min-width: 20ch;
				padding: 1rem;
				text-align: center;
				border: 1px solid colors.$border;
				border-radius: 1rem;
				&:hover,
				&.selected {
					background-color: colors.$fg;
				}
			}
		}
		.filter-btn {
			border: 1px solid colors.$border;
			border-radius: 0.5rem;
			padding: 0.5rem 1rem;
			margin-bottom: 1.5rem;
			opacity: 0;
			&:hover {
				background-color: colors.$bg;
			}
			&.hidden {
				opacity: 0;
			}
			&.visible {
				opacity: 1;
				transition: opacity 0.25s ease-in;
			}
		}
	}
}
.skill-container {
	@include flex-container(row, center, center, wrap);
	max-width: 65rem;
	margin: 0 auto;
	.tag {
		padding: 0.5rem;
		border-radius: 0.5rem;
		margin: 0.3rem;
		min-width: 10ch;
		text-align: center;
		background-color: colors.$accent-light;
		color: colors.$bg;
	}
}
#projects {
	.projects-container {
		width: 100vw;
		padding: 1rem;
		.project-card {
			margin: 0 auto 2rem;
			width: clamp(8rem, 100%, 60rem);
			@include flex-container(row, center, flex-start, wrap);
			background-color: rgba(53, 137, 197, 0.3);
			border-radius: 1.75rem;
			.header {
				display: grid;
				width: 100%;

				.content {
					grid-area: content;
					h3,
					h4 {
						margin: 0;
					}
					.sub-title {
						font-style: italic;
						font-weight: 400;
					}
				}
				.icons {
					grid-area: icons;
					a {
						color: colors.$text;
					}
				}
				img {
					flex: 0.75;
					border-radius: 1rem;
					grid-area: logo;
				}
				.content {
					flex: 1;
					.title {
						font-size: 2rem;
					}
				}
			}

			.blocks {
				padding-inline: 1rem;
			}
		}
	}
}

@media screen and (max-width: 799px) {
	#projects {
		.project-card {
			.header {
				grid-template-columns: 1fr;
				grid-template-rows: auto auto;
				justify-items: stretch;
				align-items: flex-start;
				grid-template-areas: "logo icons" "content content";
				padding-top: 2rem;
				padding: 1rem;
				img {
					width: 5rem;
				}
				.icons {
					@include flex-container(row, center, center, nowrap);
					font-size: 2rem;
					gap: 2rem;
				}
				.content {
					margin-top: 1rem;
					width: 100%;
					justify-self: stretch;
				}
			}
		}
	}
}
@media screen and (min-width: 800px) {
	#projects {
		.project-card {
			.header {
				padding: 1rem;
				grid-template-columns: auto 1fr auto;
				grid-template-rows: 1fr;
				align-items: flex-start;
				justify-items: stretch;
				grid-template-areas: "logo content icons";
				img {
					max-width: 6rem;
				}
				.content {
					flex: 1;
					justify-self: stretch;
					padding-inline: 1rem;
				}
				.icons {
					gap: 0.5rem;
					font-size: 1.5rem;
					@include flex-container(row, flex-end, center, nowrap);
				}
			}
			.blocks {
				padding-bottom: 1rem;
				@include flex-container(row, flex-start, flex-start, wrap);
				gap: 1rem;
				p,
				img {
					flex: 0.5;
					width: 50%;
				}
				img {
					border-radius: 0.5rem;
				}
			}
		}
	}
}
.tag-container {
	width: 100%;
	flex: 1;
	margin-inline: 1rem;
	@include flex-container(row, flex-start, center, wrap);
	.tag {
		background-color: colors.$bg;
		border-radius: 0.25rem;
		margin-inline-end: 0.25rem;
		width: max-content;
		text-align: center;
		padding: 0.25rem;
	}
}
$card-opacity: 0%;
$card-width: 70%;
#projects-module {
	overflow: hidden;
	#projects-controls {
		@include flex-container(row, flex-start, center, nowrap);
		gap: 1rem;
		button {
			font-size: 1.5rem;
			border-radius: 0.25rem;
			@include flex-container(column, center, center, nowrap);
			height: 100%;
			aspect-ratio: 1/1;
			padding: 0.5rem;
			background-color: transparent;
			transition: background-color 0.25s ease-in-out;
			&:hover {
				transition: background-color 0.25s ease-in-out;
				background-color: colors.$glass;
			}
		}
	}
	.project-preview {
		// flex: 1;
		// width: 100%;
		// position: relative;
		// @include flex-container(row, flex-start, flex-start, wrap);
		display: grid;

		gap: 1rem;
		// height: 100rem;
		justify-items: stretch;
		align-items: stretch;
		// height: 20rem;
	}
	.project-card {
		text-decoration: none;
		color: colors.$text;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 0.5rem;
		@include flex-container(column, flex-start, center, nowrap);
		// width: 50%;
		// position: absolute;
		// height: 20rem;
		img,
		.img {
			height: 10rem;
			border-radius: 1.5rem;
			margin-bottom: 1rem;
		}
		.img {
			opacity: 0.6;
		}
		&.focused {
			left: 0;
			right: 0;
			margin: 0 auto;
			opacity: 1;
			animation: handleFocused 1.5s linear;
		}
		&.focused-prev {
			left: 0;
			opacity: $card-opacity;
			transform: translateX(-150%);
			animation: handlePrev 1.5s linear;
		}
		&.focused-next {
			right: 0;
			opacity: $card-opacity;
			transform: translateX(50%);
			animation: handleNext 1.5s linear;
		}
		&.not-focused {
			opacity: 0;
			animation: handleNotFocused 1.5s linear 0.5s;
		}

		.tag-container {
			justify-content: center;
		}
	}
}

@media screen and (max-width: 799px) {
	#projects-module {
		.project-preview {
			grid-template-columns: 1fr;
		}
		.project-card {
			@include flex-container(row-reverse, flex-end, center, nowrap);
			img,
			.img {
				height: 3rem;
				width: 3rem;
				margin: auto 1rem auto 0.5rem;
				border-radius: 0.5rem;
			}
		}
	}
}

@media screen and (min-width: 800px) {
	#projects-module {
		.project-preview {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
		}
	}
}

@media screen and (max-width: 799px) {
	#projects-module {
		.project-card {
			width: 100%;
		}
	}
}
@keyframes handleFocused {
	from {
		right: 0;
		opacity: $card-opacity;
		transform: translateX(150%);
	}
	to {
		left: 0;
		right: 0;
		opacity: 1;
	}
}
@keyframes handlePrev {
	from {
		margin: 0 auto;
		opacity: 1;
		transform: translateX(0);
	}
	to {
		margin-left: 0;
		opacity: $card-opacity;
		transform: translateX(-150%);
	}
}
@keyframes handleNext {
	from {
		transform: translateX(150%);
	}
	to {
		margin-left: auto;
		transform: translateX(0%);
	}
}
@keyframes handleNotFocused {
	from {
		transform: translateX(-150%);
	}

	to {
		transform: translateX(-50%);
	}
}
@keyframes horizontalScroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
