@use "../var";
@use "../colors";

#projects {
	padding: 3rem auto;
	h1{
		margin: 10rem auto 2rem auto;
		text-align: center;
		font-size: 3rem;
		font-weight: 400;
		color: colors.$text;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background: linear-gradient(to right, transparent,colors.$border, transparent);
		}
	}
	#hero {
		// height: 70vh;
		width: 100%;
		@include flex-container(column, center, center, nowrap);
		background: linear-gradient(
			to bottom,
			colors.$accent-light,
			colors.$primary-default
		);
		h1 {
			font-size: 3rem;
		}
		.buttons {
			width: min(100%, 45rem);
			padding: 2rem;
			padding-bottom: 1rem;
			@include flex-container(row, space-around, center, wrap);
			gap: 1rem;
			button {
				flex: 1;
				min-width: 20ch;
				padding: 1rem;
				text-align: center;
				border: 1px solid colors.$border;
				border-radius: 1rem;
				&:hover,
				&.selected {
					background-color: colors.$fg;
				}
			}
		}
		.filter-btn {
			border: 1px solid colors.$border;
			border-radius: 0.5rem;
			padding: 0.5rem 1rem;
			margin-bottom: 1.5rem;
			opacity: 0;
			&:hover {
				background-color: colors.$bg;
			}
			&.hidden {
				opacity: 0;
			}
			&.visible {
				opacity: 1;
				transition: opacity 0.25s ease-in;
			}
		}
	}
	.skill-container {
		@include flex-container(row, center, center, wrap);
		max-width: min(90vw, 65rem);
		margin: 3rem auto;

		.tag {
			display: inline-block;
			padding: 0.15rem 0.5rem;
			border-radius: 0.35rem;
			margin: 0.1rem;
			font-size: 0.9rem;
			min-width: 7ch;
			text-align: center;
			border: 1.5px solid colors.$accent-dark;
			color: colors.$accent-light;
			transition: background 0.2s, color 0.2s, text-decoration 0.2s;

			// // More subtle link styling for <a> tags
			// a {
			// 	color: inherit;
			// 	text-decoration: underline dotted;
			// 	text-underline-offset: 0.13em;
			// 	opacity: 0.75;
			// 	transition: color 0.2s, opacity 0.2s;
			// 	font-size: 0.93em;
			// 	padding: 0;
			// 	font-weight: 400;
			// 	&:hover,
			// 	&:focus {
			// 		opacity: 1;
			// 		color: colors.$text;
			// 		text-decoration: underline;
			// 		text-decoration-thickness: 2px;
			// 	}
			// }
		}
	}
	.projects-container {
		width: 100vw;
		padding: 0 1rem;
	}
	.project-card {
		margin: 0 auto 3rem;
		width: clamp(8rem, 100%, 60rem);
		@include flex-container(row, center, flex-start, wrap);
		background-color: rgba(53, 137, 197, 0.3);
		border-radius: 1.75rem;
		overflow: hidden;
		padding: 1rem;
		
		.header {
			display: grid;
			width: 100%;
			.content {
				grid-area: content;
				h3,
				h4 {
					margin: 0;
				}
				.sub-title {
					font-style: italic;
					font-weight: 400;
				}
			}
			.icons {
				grid-area: icons;
				a {
					color: colors.$text;
				}
			}
			img {
				flex: 0.75;
				border-radius: 1rem;
				grid-area: logo;
			}
			.content {
				flex: 1;
				.title {
					font-size: 2rem;
				}
			}
		}
	
		.blocks {
			padding-inline: 1rem;
			margin-top: 2rem;
			.block {
				flex: 0.5;
				P {
					flex: 1;
					margin-block: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 799px) {
	#projects {
		.project-card {
			.header {
				grid-template-columns: 1fr;
				grid-template-rows: auto auto;
				justify-items: stretch;
				align-items: flex-start;
				grid-template-areas: "logo icons" "content content";
				padding-top: 2rem;
				padding: 1rem;
				img {
					width: 5rem;
				}
				.icons {
					@include flex-container(row, center, center, nowrap);
					font-size: 2rem;
					gap: 2rem;
				}
				.content {
					margin-top: 1rem;
					width: 100%;
					justify-self: stretch;
				}
			}
		}
	}
}
@media screen and (min-width: 800px) {
	#projects {
		.project-card {
			.header {
				padding: 1rem;
				grid-template-columns: auto 1fr auto;
				grid-template-rows: 1fr;
				align-items: flex-start;
				justify-items: stretch;
				grid-template-areas: "logo content icons";
				img {
					max-width: 6rem;
				}
				.content {
					flex: 1;
					justify-self: stretch;
					padding-inline: 1rem;
				}
				.icons {
					gap: 0.5rem;
					font-size: 1.5rem;
					@include flex-container(row, flex-end, center, nowrap);
				}
			}
			.blocks {
				padding-bottom: 1rem;
				@include flex-container(row, flex-start, flex-start, wrap);
				gap: 1rem;
				img {
					flex: 0.5;
					width: 50%;
				}
				img {
					border-radius: 0.5rem;
				}
			}
		}
	}
}
.tag-container {
	width: 100%;
	flex: 1;
	margin-inline: 1rem;
	@include flex-container(row, flex-start, center, wrap);
	.tag {
		background-color: colors.$bg;
		border-radius: 0.25rem;
		margin-inline-end: 0.25rem;
		width: max-content;
		text-align: center;
		padding: 0.25rem;
	}
}
$card-opacity: 0%;
$card-width: 70%;
#projects-module {
	overflow: hidden;
	position: relative;

	.project-preview {
		z-index: 2;
		@include flex-container(column, flex-end, center, nowrap);
		gap: 0.5rem;
		overflow: hidden;
		position: relative;
		margin: auto auto;
	}
	.project-wrapper {
		@include flex-container(column, center, center, nowrap);
		height: 100%;
		width: 100%;
		margin: auto auto;
	}
	.project-card {
		// min-width: 20rem;
		margin: auto auto;
		text-decoration: none;
		color: colors.$text;
		border-radius: 0.5rem;
		@include flex-container(column, center, center, nowrap);
		gap: 0.5rem;
		background-color: rgba(16, 60, 91, 1);
		padding: 1rem;
		width: 80%;
		img,
		.img {
			height: 8rem;
			border-radius: 1.5rem;
		}
		.img {
			opacity: 0.6;
		}
		h3,
		p {
			padding: 0;
		}

		.tag-container {
			gap: 0.5rem;
			justify-content: center;
		}
	}
}
#project-slider-controls {
	@include flex-container(row, center, space-between, nowrap);
	width: 80%;
	.prev,
	.next {
		flex: 1;
		font-size: 1rem;
		border-radius: 0.25rem;
		@include flex-container(column, center, center, nowrap);
		padding: 0.5rem;
		background-color: transparent;
		color: #000000;
	}
	.prev {
		@include flex-container(row, flex-start, center, nowrap);
		&:hover {
			transition: background-color 0.25s ease-in-out;
			background: linear-gradient(to right, colors.$glass, transparent);
		}
	}
	.next {
		@include flex-container(row, flex-end, center, nowrap);
		&:hover {
			transition: background-color 0.25s ease-in-out;
			background: linear-gradient(to left, colors.$glass, transparent);
		}
	}
}
// @media screen and (max-width: 799px) {
// 	#projects-module {
// 		#projects-controls {
// 			height: 2rem;
// 			bottom: 0;
// 			margin-top: auto;

// 			.prev {
// 				align-items: flex-start;
// 				transition: background-color 0.25s ease-in-out;
// 				background: linear-gradient(to right, colors.$glass, transparent);
// 			}
// 			.next {
// 				align-items: flex-end;
// 				transition: background-color 0.25s ease-in-out;
// 				background: linear-gradient(to left, colors.$glass, transparent);
// 			}
// 		}
// 		.project-preview {
// 			grid-template-columns: 1fr;
// 		}
// 		.project-wrapper {
// 			height: max-content;
// 		}
// 		.project-card {
// 			@include flex-container(column, flex-end, center, nowrap);
// 			img,
// 			.img {
// 				height: 3rem;
// 				width: 3rem;
// 				margin: auto 1rem auto 0.5rem;
// 				border-radius: 0.5rem;
// 			}
// 		}
// 	}
// }

// @media screen and (min-width: 800px) {
// 	#project-controls {
// 		button.prev {
// 			@include flex-container(row, flex-start, center, nowrap);
// 			transition: background-color 0.25s ease-in-out;
// 			align-items: flex-start;
// 			background: transparent;
// 			&:hover {
// 				transition: background-color 0.25s ease-in-out;
// 				background: linear-gradient(to right, colors.$glass, transparent);
// 			}
// 		}
// 		button.next {
// 			@include flex-container(row, flex-end, center, nowrap);

// 			transition: background-color 0.25s ease-in-out;
// 			align-items: flex-end;
// 			background: transparent;
// 			&:hover {
// 				transition: background-color 0.25s ease-in-out;
// 				background: linear-gradient(to left, colors.$glass, transparent);
// 			}
// 		}
// 	}
// 	#projects-module {
// 		.project-preview {
// 			grid-template-columns: 1fr 1fr 1fr;
// 			grid-template-rows: 1fr 1fr 1fr;
// 		}
// 	}
// }
