$bg: #0d0b67;
$fg: #15137a;

$text: #eeeeee;
$text-secondary: rgba(255, 255, 255, 0.7);
$border: #5f5ccf;
$glass: rgba(0, 0, 0, 0.25);
$primary-default: #0d0b67;
$accent-default: #5f5ccf;
$accent-light: #41c988;
