---
import BaseHead from "../components/layout/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
import Header from "../components/layout/Header.tsx";	
import Hero from "../components/pages/home/hero.astro";
---
	
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header client:only />
		<main>
			<Hero />
		</main>
	</body>
</html>