---
import {LandingHero, QuickLinks, LandingModuleGrid} from "../components/landing";
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout id="landing">
	<section id="hero">
		<LandingHero />
		<QuickLinks />
	</section>
	<LandingModuleGrid />
</AppLayout>
