---
import AppLayout from "../layouts/AppLayout.astro";
import {ProjectsList, ProjectSkills} from "../components/projects";
---

<AppLayout title="Projects" description="Projects" id="projects">
	<h1>My Projects</h1>
	<ProjectSkills client:only="solid-js" />
	<ProjectsList client:only="solid-js" />
</AppLayout>
