---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header";
import Hero from "../components/projects/hero.astro";
import ProjectShapes from "../components/projects/projectShapes";
import ProjectsList from "../components/projects/projectsList";
import SkillList from "../components/skills";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="small-page" id="projects">
		<Header client:only />
		<main>
			<Hero client:load />
			<SkillList />
			<ProjectShapes />
			<ProjectsList client:load />
			<Footer />
		</main>
	</body>
</html>
