---
import BaseHead from "../components/layout/BaseHead.astro";
import Footer from "../components/layout/Footer.astro";
import Header from "../components/layout/Header.tsx";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import ResumeComponent from "../components/BrendanProbstResumeNovember2022.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body id="resume" class="small-page">
		<Header client:only />
		<main>
			<button class="download">download</button>
			<div class="resume-container">
				<ResumeComponent />
			</div>
		</main>
		<Footer />
	</body>
</html>
