---
import { BiRegularQr } from "solid-icons/bi";
import { VsLinkExternal } from "solid-icons/vs";
import { BiRegularCopy } from "solid-icons/bi";
import { ContactData, Contact } from "./contactData";
import { ClipboardCopy } from "@astro-github-elements/clipboard-copy";
import { BiSolidCopy } from "solid-icons/bi";
import ContactListItem from "./contactListItem.astro";
---

<script>
	function handleQRCode(value: string, type: string) {
		// 	QRCode.toDataURL("I am a pony!")
		// 		.then((url) => {
		// 			console.log(url);
		// 			generateQR(url);
		// 		})
		// 		.catch((err) => {
		// 			console.error(err);
		// 		});
		// 	// With async/await
		// }
		// const generateQR = async (text) => {
		// 	try {
		// 		console.log(await QRCode.toDataURL(text));
		// 	} catch (err) {
		// 		console.error(err);
		// 	}
	}
	function handleLink(value: string, type: string) {
		let result = "";
		if (type === "mail") {
			result = "mailto:" + value;
		}
		console.log(result);
		return result;
	}
</script>

<section id="contact-info">
	<h2>My Contact Info</h2>
	<ul class="list">
		{
			ContactData.map((item: Contact) => (
				<ContactListItem item={item} client:load />
			))
		}
	</ul>
</section>
