---
// var form = document.getElementById("my-form");

// async function handleSubmit(event: {
// 	preventDefault: () => void;
// 	target: HTMLFormElement | undefined;
// }) {
// 	event.preventDefault();
// 	var status = document.getElementById("my-form-status");
// 	var data = new FormData(event.target);
// 	fetch(event.target?.action, {
// 		method: form.method,
// 		body: data,
// 		headers: {
// 			Accept: "application/json",
// 		},
// 	})
// 		.then((response) => {
// 			if (response.ok) {
// 				status.innerHTML = "Thanks for your submission!";
// 				form.reset();
// 			} else {
// 				response.json().then((data) => {
// 					if (Object.hasOwn(data, "errors")) {
// 						status.innerHTML = data["errors"]
// 							.map((error) => error["message"])
// 							.join(", ");
// 					} else {
// 						status.innerHTML = "Oops! There was a problem submitting your form";
// 					}
// 				});
// 			}
// 		})
// 		.catch((error) => {
// 			status.innerHTML = "Oops! There was a problem submitting your form";
// 		});
// }
// form.addEventListener("submit", handleSubmit);
---

<script
	type="text/javascript"
	src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
></script>
<script type="text/javascript">
	(function () {
		emailjs.init("Oei7EkPgwBIu6Twf1");
	})();
</script>
<script type="text/javascript">
	window.onload = function () {
		document
			.getElementById("my-form")
			.addEventListener("submit", function (event) {
				event.preventDefault();
				console.log(this);
				// generate a five digit number for the contact_number variable
				this.contact_number.value = (Math.random() * 100000) | 0;
				// these IDs from the previous steps
				// this.to_name = document.getElementById("name").value;
				// this.to_email = document.getElementById("email").value;

				// this.contact_me = document.getElementById("contact").value;
				// this.message = document.getElementById("message").value;

				// this.reply_to = "bprobst1029@gmail.com";
				console.log(this.to_email);
				emailjs.sendForm("service_niusmnj", "template_dgjuocy", this).then(
					function () {
						console.log("SUCCESS!");
					},
					function (error) {
						console.log("FAILED...", error);
					}
				);
			});
	};
</script>
<section>
	<form id="my-form">
		<h2>Get In Touch Today</h2>
		<div class="form-group">
			<label for="to_name">Name *</label>
			<input
				required
				type="text"
				id="to_name"
				name="to_name"
				placeholder="What do people call you?"
			/>
		</div>
		<div class="form-group">
			<label for="to_email">What's your email? *</label>
			<input
				required
				type="email"
				id="to_email"
				name="to_email"
				placeholder="yourname@email.com"
			/>
		</div>
		<div class="form-group">
			<label for="contact_me">What's the best way to reach you?</label>
			<input
				type="text"
				id="contact_me"
				name="contact_me"
				placeholder="phone, email, name of your carrier pidgeon, ect. "
			/>
		</div>
		<div>
			<label for="message">What do you want to tell me?</label>
			<textarea
				id="message"
				name="message"
				rows="5"
				placeholder="The floor is yours!"></textarea>
		</div>

		<div>
			<input
				type="text"
				class="hidden"
				name="contact_number"
				id="contact_number"
			/>
		</div>
		<button id="form-button">Send</button>
	</form>
</section>
