---
import GridSection from "./gridSection";
import Projects from "./projects/projectsPreview";
const quaeProps = {
	title: "Quae",
	headline: "Community Voting App",
	subHeadline: "Co-founder",
	blocks: [
		"Minim exercitation velit voluptate ex voluptate. Voluptate sunt enim adipisicing ex magna. Nisi ex duis pariatur labore ea id laboris consequat commodo ex velit. Consectetur ipsum reprehenderit ipsum dolore laborum nulla est eiusmod. Ullamco culpa esse duis fugiat cupidatat nulla sunt mollit reprehenderit eiusmod laborum amet sunt nulla.",
	],
};
const cabalProps = {
	title: "Cabal Labs",
	headline: "Web3 Research & Devleopment Group",
	subHeadline: "Co-founder",
	blocks: [
		"Minim exercitation velit voluptate ex voluptate. Voluptate sunt enim adipisicing ex magna. Nisi ex duis pariatur labore ea id laboris consequat commodo ex velit. Consectetur ipsum reprehenderit ipsum dolore laborum nulla est eiusmod. Ullamco culpa esse duis fugiat cupidatat nulla sunt mollit reprehenderit eiusmod laborum amet sunt nulla.",
	],
};
const aboutMeProps = {
	title: "About Me",
	headline: "Software Engineer",
	subHeadline: "Full Stack Developer | Focus on Front-End ",
	blocks: [
		"This is a paragaph about me Pariatur incididunt ex consequat duis est laboris ea. Eu fugiat ipsum aute magna nulla laborum in. Labore ea ullamco exercitation irure sint excepteur qui magna.",
		"This is a paragaph about me Pariatur incididunt ex consequat duis est laboris ea. Eu fugiat ipsum aute magna nulla laborum in. Labore ea ullamco exercitation irure sint excepteur qui magna.",
	],
};
---

<section id="grid">
	<div id="quae-module">
		<GridSection {...quaeProps} />
	</div>
	<div id="cabal-module">
		<GridSection {...cabalProps} />
	</div>
	<div id="bio-module">
		<GridSection {...aboutMeProps} />
	</div>
	<div id="skills-module">
		<GridSection title="Skills" />
	</div>
	<div id="resume-module">
		<GridSection title="My Resume" />
	</div>
	<div id="projects-module">
		<GridSection title="My Projects">
			<Projects />
		</GridSection>
	</div>
</section>
