---
import GridSection from "./gridSection";
---

<section id="grid">
	<div id="quae-module">
		<GridSection title="Quae" />
	</div>
	<div id="cabal-module">
		<GridSection title="Cabal Labs" />
	</div>
	<div id="bio-module">
		<GridSection title="About Me" />
	</div>
	<div id="skills-module">
		<div class="row">
			<GridSection title="Skills" />
			<GridSection title="My Resume" />
		</div>
	</div>
	<div id="projects-module">
		<GridSection title="My Projects" />
	</div>
</section>
