---
import HeroContent from "./HeroContent.astro";
import HeroImages from "./HeroImages.astro";
---

<section id="hero">
	<HeroContent />
	<HeroImages />
	<!-- <div class="blur"></div> -->
</section>
