---
// function render() {
// 	const container = document.getElementById("line-container");
// 	if (!container) {
// 		return;
// 	}
// 	container.innerHTML = "";
// 	lines.forEach((str) => {
// 		const elem = document.createElement("p");
// 		elem.innerHTML = str;
// 		container?.appendChild(elem);
// 	});
// }
// render();
---

<script>
	let lines: string[] = [
		"I'm a Developer",
		"I'm a Entrepreneur",
		"I'm a Home Cook",
		"I'm a Cat Owner",
		"I'm a Software Engineer",
		"I'm a Problem Solver",
		"I'm a MotorSport Fan",
		"I'm a Sim Racer",
		"I'm a UI/UX Designer",
		"I'm a Builder",
	];
	const container = document.getElementById("line-container");

	// Create elements once and store references

	lines.forEach((line, index) => {
		let elem = document.createElement("p");
		elem.classList.add("line");
		elem.textContent = line;
		// Stagger the start of the animation for each line
		elem.style.animationDelay = `-${index * 2}s`;
		if (!!container) {
			container.appendChild(elem);
		}
	});
</script>

<section id="hero-content">
	<div class="text">
		<div class="title-container">
			<h1 class="title">Hi, I'm Brendan</h1>
		</div>
		<div id="line-container"></div>
	</div>
	<img src="/img/shapes/ring1.svg" class="ring ring1" alt="a colorful ring" />
	<img src="/img/shapes/ring2.svg" class="ring ring2" alt="a colorful ring" />
	<img src="/img/shapes/ring3.svg" class="ring ring3" alt="a colorful ring" />
</section>
