---
// function render() {
// 	const container = document.getElementById("line-container");
// 	if (!container) {
// 		return;
// 	}
// 	container.innerHTML = "";
// 	lines.forEach((str) => {
// 		const elem = document.createElement("p");
// 		elem.innerHTML = str;
// 		container?.appendChild(elem);
// 	});
// }
// render();
---

<script>
	let lines: string[] = [
		"I'm a Developer",
		"I'm a Entrepreneur",
		"I'm a Foodie",
		"I'm a Cat Owner",
		"I'm a Software Engineer",
		"I'm a Problem Solver",
		"I'm a MotorSport Fan",
		"I'm a Sim Racer",
		"I'm a UI/UX Designer",
		"I'm a Builder",
	];
	const container = document.getElementById("line-container");

	setInterval(() => {
		// Move the first element to the end of the array
		let first = lines[0];
		lines.shift();
		lines.push(first);

		// Update the DOM to reflect the new array order
		if (!container) {
			return;
		}
		container.innerHTML = "";
		lines.forEach((str) => {
			const elem = document.createElement("p");
			elem.textContent = str;
			container?.appendChild(elem);
		});
	}, 2000);
</script>

<section class="hero-content">
	<div class="text">
		<h1 class="title">Hi, I'm Brendan</h1>
		<div id="line-container">
			<p>I'm a Developer</p>
			<p>I'm a Entrepreneur</p>
			<p>I'm a Foodie</p>
			<p>I'm a Cat Owner</p>
			<p>I'm a Software Engineer</p>
			<p>I'm a Problem Solver</p>
			<p>I'm a MotorSport Fan</p>
			<p>I'm a Sim Racer</p>
			<p>I'm a UI/UX Designer</p>
			<p>I'm a Builder</p>
		</div>
	</div>
	<img
		src="/public/img/shapes/ring1.svg"
		class="ring ring1"
		alt="a colorful ring"
	/>
	<img
		src="/public/img/shapes/ring2.svg"
		class="ring ring2"
		alt="a colorful ring"
	/>
	<img
		src="/public/img/shapes/ring3.svg"
		class="ring ring3"
		alt="a colorful ring"
	/>
</section>
