---
import { BsChatFill } from "solid-icons/bs";
---

<section id="hero-images">
	<div class="content-container">
		<img src={"/img/brendan_probst4.jpeg"} alt="picture of me" />
		<a class="container" href="/contact_me">
			<h4>Send Me A Message</h4>
			<BsChatFill class="icon" />
		</a>
	</div>
</section>
