---
import HomePageSection from "./HomePageSection";
import {
	plmProps,
	cabalProps,
	smileNowProps,
	aboutMeProps,
	quaeProps,
	traderProps,
} from "../../../constants/gridData";
---

<section id="grid">
	<div id="trader-module">
		<HomePageSection {...traderProps} client:load />
	</div>
	<div id="plm-module">
		<HomePageSection {...plmProps} client:load />-
	</div>
	<div id="cabal-module">
		<HomePageSection {...cabalProps} client:load />
	</div>
	<div id="smilenow-module">
		<HomePageSection {...smileNowProps} client:load />
	</div>
	<div id="bio-module">
		<HomePageSection {...aboutMeProps}>
			<div id="resume-module" class="sub-module">
				<HomePageSection title="My Resume">
					<a href="/public/brendan_probst_resume.pdf" download> Download</a>
				</HomePageSection>
			</div>
		</HomePageSection>
	</div>
	<div id="quae-module">
		<HomePageSection {...quaeProps} client:load />
	</div>

	<!-- <div id="projects-module">
		<GridSection {...projectsProps} client:load>
			<ProjectsPreview client:load />
		</GridSection>
	</div> -->
</section>
